{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <!-- <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block">PyCon NG</span>
                            </a> -->
                        </div>
                    </div><!-- End Logo -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class ="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <fieldset class="form-group">
                                            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                            <p class="text-center small">Enter your personal details to create an account</p>
                                            {{ form|crispy }}
                                        </fieldset>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-12">
                                <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">SIgn in</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}